<% content_for :title, "New show" %>

<h1>New show</h1>

<%= render "form", show: @show %>

<br>

<%= link_to 'Buy Tickets', new_show_ticket_path(@show) %>

<div>
  <%= link_to "Back to movies", movies_path %>
</div>
